@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    min-width: 100vh;
}

.container {
    /* display: flex; */
}


.testimonial {
    width: 80vw;
    background-color: bisque;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    line-height: 1.5;
    padding: 15px;
}

#testimonial-2 {
    display: none;
}

.quote {
    display: flex;
    flex-direction: column;

}

.content {
    width: 100%;
    font-family: Inter;
    font-size: ;
    font-weight: 300;
}

.author {
    width: 50%;
}


/* images */

#curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;

}


.profile-pic {
    border-radius: 15px;
    width: 2000px;
}





.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}